.brobutton {
  background-color: rgb(83, 102, 211);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.butonContainer{
  display: flex;
  justify-content: center;
}