body{
  background-color: rgba(0, 0, 0, 0.557);
  text-align: center;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: rgb(46, 46, 46)
}

.card .card-description{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgba(46, 46, 46, 0.822)
}

.bro-button {
  background-color: rgb(83, 102, 211);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.student{
  border: 2px solid black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  font-size: 2em;
  max-width: 265px;
}

.student p{
  margin: 0;
}

.welcome-message {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5em;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
  word-wrap: break-word;
  border: 2px solid black;
}

.sign-in {
    font-family: 'Courier New', Courier, monospace;
  font-size: 2.5em;
  background-color: rgb(116, 237, 100);
  color: white;
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
  word-wrap: break-word;
  border: 2px solid black;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(97, 97, 97);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(44, 28, 28);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: rgb(41, 41, 41);
  text-align: center;
  margin: 0;
}
.list-items li:hover {
  color: black;
  cursor: pointer

}

.profile-picture{
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.counter-container{
  text-align: center;
  font-family: monospace;
}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}