body {
  background-color: #44444e;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: rgb(46, 46, 46);
}

.card .card-description {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgba(46, 46, 46, 0.822);
}

.bro-button {
  background-color: rgb(83, 102, 211);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.student-container {
  display: flex;
  justify-content: center; /* poziome wyśrodkowanie */
  padding-top: 10px;
}
.student {
  border: 2px solid #d3dad9;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  font-size: 2em;
  width: 265px;
  display: grid;
  place-items: center; /* zamiast align-items + justify-items */
  text-align: center;
  color: white;
}

.student p {
  margin: 0;
}

.welcome-message-container{
  display: flex;
  justify-content: center;
}

.welcome-message {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
  color: #715a5a;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  border: 2px solid #715a5a;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sign-in {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
  background-color: rgb(116, 237, 100);
  color: white;
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
  word-wrap: break-word;
  border: 2px solid black;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: #d3dad9;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: #715a5a;
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: #d3dad9;
  text-align: center;
  margin: 0;
}
.list-items li:hover {
  color: #a0a7a6;
  cursor: pointer;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
}


.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.mycomponent-container {
  display: grid;
  text-align: center;
  justify-content: center;
}

.mycomponent-container p {
  color: #d3dad9;
  font-size: 2.5em;
  margin: 5px;
}

.mycomponent-container button {
  border: 2px solid #715a5a;
  background-color: #44444e;
  padding: 10px;
  color: #715a5a;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 500ms;
  transition: color 500ms;
  font-size: 2em;
}

.mycomponent-container button:hover {
  background-color: #715a5a;
  color: #d3dad9;
}

.counter-container {
  text-align: center;
  font-family: monospace;
  color: #d3dad9;
}

.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 15px;
}

.divider {
  background-color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.counter-button {
  border: 2px solid #715a5a;
  background-color: #44444e;
  padding: 10px;
  color: #715a5a;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 500ms;
  transition: color 500ms;
  column-gap: 10px;
  font-size: 1.5em;
}

.counter-button:hover {
  background-color: #715a5a;
  color: #d3dad9;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.onchange-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
